<h1>Listing ctgrymtbls</h1>
 
<script type="text/javascript">
$(document).ready(function(){
  $("#example").treeview({});
  //$("#example3").treeview({
  //  url: "<%= ctgrymtbls_get_ctg_list_path %>"
  //});
  //$("#example4").treeview({
  //  url: "<%= ctgrymtbls_list_tree_path %>"
  //});

});
</script>
 
<h4>通常のツリービュー表示</h4>
 
<ul id="example" class="filetree">
  <li><span class="folder">Folder 1</span>
    <ul>
      <li><span class="file">Item 1.1</span></li>
    </ul>
  </li>
  <li><span class="folder">Folder 2</span>
    <ul>
      <li><span class="folder">Subfolder 2.1</span>
	<ul>
	  <li><span class="file">File 2.1.1</span></li>
	  <li><span class="file">File 2.1.2</span></li>
	</ul>
      </li>
      <li><span class="file">File 2.2</span></li>
    </ul>
  </li>
  <li class="closed"><span class="folder">Folder 3 (closed at start)</span>
    <ul>
      <li><span class="file">File 3.1</span></li>
    </ul>
  </li>
  <li><span class="file">File 4</span></li>
</ul>
 
<h4>ctgryツリービュー表示</h4>

<table>
  <tr>
    <th>Ctgryname</th>
  </tr>
<%= raw $htmlstr %>
<% @ctgrymtbls.each do |ctgrymtbl| %>
  <tr>
    <td><%= ctgrymtbl.ctgryname %></td>
    <td><%= link_to 'Show', ctgrymtbl %></td>
    <td><%= link_to 'Edit', edit_ctgrymtbl_path(ctgrymtbl) %></td>
    <td><%= link_to 'Destroy', ctgrymtbl, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ctgrymtbl', new_ctgrymtbl_path %>
