<%= form_for(@cust) do |f| %>
  <% if @cust.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cust.errors.count, "error") %> prohibited this cust from being saved:</h2>

      <ul>
      <% @cust.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th colspan=2 bgcolor="#800000"><font color="#ffffff">項目</font></th>
      <th colspan=4 bgcolor="#800000"><font color="#ffffff">値</font></th>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :custcompanyflg %></b></td>
      <td ><%= image_tag("lbl_S_Tanitu.gif") %></td>
      <td>
        <%= f.radio_button(:custcompanyflg, "0") %>個人
      </td>
      <td>
        <%= f.radio_button(:custcompanyflg, "1") %>法人
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :memberlevelcode %></b></td>
      <td ><%= image_tag("lbl_S_Tanitu.gif") %></td>
      <td colspan=3>
        <%= select_tag "cust[memberlevelcode]",options_from_collection_for_select(@memberlevelms, :id, :memberlevelname, @cust.memberlevelcode), :include_blank => false %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :custname %></b></td>
      <td ><%= image_tag("lbl_S_Zen.gif") %></td>
      <td colspan=3>
        <%= f.text_field :custname %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :custpronname %></b></td>
      <td ><%= image_tag("lbl_ZenKana.gif") %></td>
      <td colspan=3>
        <%= f.text_field :custpronname %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :email %></b></td>
      <td ><%= image_tag("lbl_Email.gif") %></td>
      <td colspan=3>
        <%= f.text_field :email %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :password %></b></td>
      <td ><%= image_tag("lbl_S_HanEisuu.gif") %></td>
      <td colspan=3>
        <%= f.password_field :password %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :pwquestion %></b></td>
      <td ><%= image_tag("lbl_S_Zen.gif") %></td>
      <td colspan=3>
        <%= f.text_field :pwquestion %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :pwanswer %></b></td>
      <td ><%= image_tag("lbl_S_Zen.gif") %></td>
      <td colspan=3>
        <%= f.text_field :pwanswer %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
      <td bgcolor="#FFFFCC"><b>郵便番号</b></td>
      <td ><%= image_tag("lbl_HanSuuji.gif") %></td>
      <td>
	<input type="text" name="postcode1" style="ime-mode:disabled" value=<%= @postcode1 %>>- 
      </td>
      <td colspan=2>
	<input type="text" name="postcode2" style="ime-mode:disabled" value=<%= @postcode2 %>>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :address1 %></b></td>
      <td ><%= image_tag("lbl_S_Tanitu.gif") %></td>
      <td colspan=3>
        <%= select_tag "cust[address1]",options_from_collection_for_select(@prefectures, :id, :name, (@cust.address1).to_i), :include_blank => true %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :address2 %></b></td>
      <td ><%= image_tag("lbl_S_Zen.gif") %></td>
      <td colspan=3>
        <%= @cust.address2 %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :address3 %></b></td>
      <td ><%= image_tag("lbl_S_Zen.gif") %></td>
      <td colspan=3>
        <%= @cust.address3 %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :companyname %></b></td>
      <td ><%= image_tag("lbl_S_Zen.gif") %></td>
      <td colspan=3>
        <%= @cust.companyname %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :tel %></b></td>
      <td ><%= image_tag("lbl_TelNo.gif") %></td>
      <td colspan=3>
        <%= f.text_field :tel %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :fax %></b></td>
      <td ><%= image_tag("lbl_TelNo.gif") %></td>
      <td colspan=3>
        <%= f.text_field :fax %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :paymethodcode %></b></td>
      <td ><%= image_tag("lbl_S_Tanitu.gif") %></td>
      <td colspan=3>
        <%= f.text_field :paymethodcode %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :birthdate %></b></td>
      <td><%= image_tag("lbl_S_Seireki.gif") %></td>
      <td colspan=3>
        <%= f.date_select("birthdate", :use_month_numbers => true, :disabled => false) %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :sex %></b></td>
      <td ><%= image_tag("lbl_S_Tanitu.gif") %></td>
      <td>
        <%= f.radio_button(:sex, "0") %>男
      </td>
      <td>
        <%= f.radio_button(:sex, "1") %>女
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :job %></b></td>
      <td ><%= image_tag("lbl_S_Tanitu.gif") %></td>
      <td colspan=3>
        <%= select_tag "cust[job]",options_from_collection_for_select(@custattrms_job, :id, :attrname), :include_blank => false %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :hobby %></b></td>
      <td ><%= image_tag("lbl_S_Tanitu.gif") %></td>
      <td colspan=3>
        <%= select_tag "cust[hobby]",options_from_collection_for_select(@custattrms_hobby, :id, :attrname), :include_blank => false %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :howtoknow %></b></td>
      <td ><%= image_tag("lbl_S_Tanitu.gif") %></td>
      <td colspan=3>
        <%= select_tag "cust[howtoknow]",options_from_collection_for_select(@custattrms_howtoknow, :id, :attrname), :include_blank => false %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFCC"></td>
      <td bgcolor="#FFFFCC"><b><%= f.label :newmailflg %></b></td>
      <td ><%= image_tag("lbl_Check.gif") %></td>
      <td colspan=3>
        <%= check_box_tag "checked_items[flag]", "0", checked=@cust.newmailflg %>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td>
      <input id="address_submit" name="address_image", type="image", src="/images/mallmgr/btn_L_Address.gif" value="address" %>
    </td>
      <td>
          <%= link_to image_tag("mallmgr/btn_L_Back.gif"), custs_url %>
          <%= link_to image_tag("mallmgr/btn_L_Reset.gif"), reset_comdty_path(@cust) %>
          <%= image_submit_tag("mallmgr/btn_L_Confirm.gif", :confirm => 'Are you sure?') %>
      </td>
    </tr>
  </table>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

