<p id="notice"><%= notice %></p>

<p>
  <b>Memberlevelcode:</b>
  <%= @cust.memberlevelcode %>
</p>

<p>
  <b>Custcompanyflg:</b>
  <%= @cust.custcompanyflg %>
</p>

<p>
  <b>Custname:</b>
  <%= @cust.custname %>
</p>

<p>
  <b>Custpronname:</b>
  <%= @cust.custpronname %>
</p>

<p>
  <b>Email:</b>
  <%= @cust.email %>
</p>

<p>
  <b>Password:</b>
  <%= @cust.password %>
</p>

<p>
  <b>Pwquestion:</b>
  <%= @cust.pwquestion %>
</p>

<p>
  <b>Pwanswer:</b>
  <%= @cust.pwanswer %>
</p>

<p>
  <b>Postcode1:</b>
  <%= @cust.postcode1 %>
</p>

<p>
  <b>Postcode2:</b>
  <%= @cust.postcode2 %>
</p>

<p>
  <b>Address1:</b>
  <%= @cust.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @cust.address2 %>
</p>

<p>
  <b>Address3:</b>
  <%= @cust.address3 %>
</p>

<p>
  <b>Companyname:</b>
  <%= @cust.companyname %>
</p>

<p>
  <b>Tel:</b>
  <%= @cust.tel %>
</p>

<p>
  <b>Fax:</b>
  <%= @cust.fax %>
</p>

<p>
  <b>Paymethodcode:</b>
  <%= @cust.paymethodcode %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @cust.birthdate %>
</p>

<p>
  <b>Sex:</b>
  <%= @cust.sex %>
</p>

<p>
  <b>Newmailflg:</b>
  <%= @cust.newmailflg %>
</p>

<p>
  <b>Job:</b>
  <%= @cust.job %>
</p>

<p>
  <b>Howtoknow:</b>
  <%= @cust.howtoknow %>
</p>

<p>
  <b>Custcode:</b>
  <%= @cust.id %>
</p>


<%= link_to 'Edit', edit_cust_path(@cust) %> |
<%= link_to 'Back', custs_path %>
