<%= form_for(@mallshopm) do |f| %>
  <% if @mallshopm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mallshopm.errors.count, "error") %> prohibited this mallshopm from being saved:</h2>

      <ul>
      <% @mallshopm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table><tr>
    <th colspan=2 bgcolor="#800000"><font color="#ffffff"><%= t('items') %></font></th>
    <th colspan=2 bgcolor="#800000"><font color="#ffffff"><%= t('values') %></font></th>
  <div class="field">
    <tr>
    <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
    <td bgcolor="#FFFFCC"><%= f.label :mallshopflg %></td>
    <td ><%= image_tag("lbl_S_Tanitu.gif") %></td>
	<% if @func == 'show' %>
    <td> <%= t('close') %>:<%= f.radio_button :mallshopflg, "0", :disabled => true %>|
         <%= t('open') %>:<%= f.radio_button :mallshopflg, "1", :disabled => true %></td>
	<% else %>
    <td>  <%= t('close') %>:<%= f.radio_button :mallshopflg,"0" %>|
          <%= t('open') %>:<%= f.radio_button :mallshopflg,"1" %></td>
	<% end %>
    </tr>
  </div>
  <div class="field">
    <tr>
    <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
    <td bgcolor="#FFFFCC"><%= f.label :mallshopname %></td>
    <td ><%= image_tag("lbl_S_Zen.gif") %></td>
	<% if @func == 'show' %>
    <td><%= f.text_field :mallshopname, :readonly => true %></td>
	<% else %>
    <td><%= f.text_field :mallshopname %></td>
	<% end %>
    </tr>
  </div>
  <div class="field">
    <tr>
    <td bgcolor="#FFFFCC"> </td>
    <td bgcolor="#FFFFCC"><%= f.label :mallshopnamekana %></td>
    <td ><%= image_tag("lbl_S_ZenKana.gif") %></td>
	<% if @func == 'show' %>
    <td><%= f.text_field :mallshopnamekana, :readonly => true %></td>
	<% else %>
    <td><%= f.text_field :mallshopnamekana %></td>
	<% end %>
    </tr>
  </div>
  <div class="field">
    <tr>
    <td bgcolor="#FFFFCC"> </td>
    <td bgcolor="#FFFFCC"><%= f.label :malladmin_id %></td>
    <td ><%= image_tag("lbl_S_HanEisuu.gif") %></td>
	<% if @func == 'show' %>
    <td><%= f.text_field :malladmin_id, :readonly => true %></td>
	<% else %>
    <td><%= f.text_field :malladmin_id %></td>
	<% end %>
    </tr>
  </div>
  <div class="field">
    <tr>
    <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
    <td bgcolor="#FFFFCC"><%= f.label :malladminpass %></td>
    <td ><%= image_tag("lbl_S_HanEisuu.gif") %></td>
	<% if @func == 'show' %>
    <td><%= f.password_field :malladminpass, :readonly => true %></td>
	<% else %>
    <td><%= f.password_field :malladminpass %></td>
	<% end %>
    </tr>
  </div>
   <div class="field">
    <tr>
    <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
    <td bgcolor="#FFFFCC"><%= f.label :frontshopname %></td>
    <td ><%= image_tag("lbl_S_Zen.gif") %></td>
        <% if @func == 'show' %>
    <td><%= f.text_field :frontshopname, :readonly => true %></td>
        <% else %>
    <td><%= f.text_field :frontshopname %></td>
        <% end %>
    </tr>
  </div>
  <div class="field">
    <tr>
    <td bgcolor="#FFFFCC"> </td>
    <td bgcolor="#FFFFCC"><%= f.label :frontshopnamekana %></td>
    <td ><%= image_tag("lbl_S_ZenKana.gif") %></td>
        <% if @func == 'show' %>
    <td><%= f.text_field :frontshopnamekana, :readonly => true %></td>
        <% else %>
    <td><%= f.text_field :frontshopnamekana %></td>
        <% end %>
    </tr>
  </div>
  <div class="field">
    <tr>
    <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
    <td bgcolor="#FFFFCC"><%= f.label :abbvfrontshopname %></td>
    <td ><%= image_tag("lbl_S_Zen.gif") %></td>
        <% if @func == 'show' %>
    <td><%= f.text_field :abbvfrontshopname, :readonly => true %></td>
        <% else %>
    <td><%= f.text_field :abbvfrontshopname %></td>
        <% end %>
    </tr>
  </div>
  <div class="field">
    <tr>
    <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
    <td bgcolor="#FFFFCC"><%= f.label :departname %></td>
    <td ><%= image_tag("lbl_S_Zen.gif") %></td>
        <% if @func == 'show' %>
    <td><%= f.text_field :departname, :readonly => true %></td>
        <% else %>
    <td><%= f.text_field :departname %></td>
        <% end %>
    </tr>
  </div>
  <div class="field">
    <tr>
    <td bgcolor="#FFFFCC"><%= image_tag("lbl_Hissu.gif") %></td>
    <td bgcolor="#FFFFCC"><%= f.label :postcode %></td>
    <td ><%= image_tag("lbl_S_Zen.gif") %></td>
        <% if @func == 'show' %>
    <td><%= f.text_field :departname, :readonly => true %></td>
        <% else %>
    <td><%= f.text_field :postcode1, :size => '10' %></td>
    <td><%= f.text_field :postcode2, :size => '10' %></td>
        <% end %>
    </tr>
  </div>
  </table>
  <div class="actions">
	<% if @func == 'show' %>
	  <%= link_to image_tag("btn_L_Back.gif"), edit_mallshopm_path(@mallshopm), :method => :put %>
	<% else %>
	  <%= image_submit_tag("btn_L_Commit.gif", :confirm => 'Are you sure?') %>
	  <%= link_to image_tag("btn_L_Reset.gif"), reset_mallshopm_path(f), :method => :put %>
	<% end %>
  </div>
<% end %>
