<h1><%= t('Listing_mallshopms') %></h1>

<table>
  <tr>
    <th><%= Mallshopm.human_attribute_name(:mallshopcode) %></th>
    <th><%= Mallshopm.human_attribute_name(:mallshopflg) %></th>
    <th><%= Mallshopm.human_attribute_name(:mallshopname) %></th>
    <th><%= Mallshopm.human_attribute_name(:mallshopnamekana) %></th>
    <th><%= Mallshopm.human_attribute_name(:malladmin_id) %></th>
    <th><%= Mallshopm.human_attribute_name(:malladminname) %></th>
    <th><%= Mallshopm.human_attribute_name(:malladminpass) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mallshopms.each do |mallshopm| %>
  <tr>
    <td><%= mallshopm.mallshopcode %></td>
    <td><%= mallshopm.mallshopflg %></td>
    <td><%= mallshopm.mallshopname %></td>
    <td><%= mallshopm.mallshopnamekana %></td>
    <td><%= mallshopm.malladmin_id %></td>
    <td><%= mallshopm.malladminname %></td>
    <td><%= mallshopm.malladminpass %></td>
    <td><%= link_to '表示', mallshopm %></td>
    <td><%= link_to '編集', edit_mallshopm_path(mallshopm) %></td>
    <td><%= link_to '削除', mallshopm, :confirm => '削除してもいいですか？', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mallshopm', new_mallshopm_path %>
