<p id="notice"><%= notice %></p>

<p>
  <b>Mallshopcode:</b>
  <%= @mallshopm.mallshopcode %>
</p>

<p>
  <b>Mallshopflg:</b>
  <%= @mallshopm.mallshopflg %>
</p>

<p>
  <b>Mallshopname:</b>
  <%= @mallshopm.mallshopname %>
</p>

<p>
  <b>Mallshopnamekana:</b>
  <%= @mallshopm.mallshopnamekana %>
</p>

<p>
  <b>Malladmin:</b>
  <%= @mallshopm.malladmin_id %>
</p>

<p>
  <b>Malladminname:</b>
  <%= @mallshopm.malladminname %>
</p>

<p>
  <b>Malladminpass:</b>
  <%= @mallshopm.malladminpass %>
</p>


<%= link_to 'Edit', edit_mallshopm_path(@mallshopm) %> |
<%= link_to 'Back', mallshopms_path %>
