<style type="text/css">
table {
margin-bottom: 20px;
border-collapse: collapse;
}
td, th {
border: 1px #2b2b2b solid;
}
</style>

<td><font color="#F6633" size=4 ><b>商品マスタ</b></font></td><br>
<table>
  <tbody>
  <td colspan=2 align="center" style="border:0px"><font size=3><b>商品検索</b></font></td>
  <tr style="border:0px">
  <td style="border:0px">
    <table style="width:320px;height:100px">
      <tbody>
        <th bgcolor="#800000"><font color="#ffffff"><%= t('検索項目') %></font></th>
	<th colspan=1 bgcolor="#800000"><font color="#ffffff"><%= t('検索条件') %></font></th>
	<div class="field">
	  <tr>
          <td bgcolor="#FFFFCC"><b>商品コード</b></td>
          <td colspan=1 style="border-top:1px #2b2b2b solid; border-bottom:1px #2b2b2b">
            <%= image_tag("lbl_S_HanSuuji.gif") %>
	    <input name="searchCmdtyCode" style="ime-mode:active">&nbsp;&nbsp;<font color="blue">部分一致</font>
	  </td>
	  </tr>
        </div>
        <div class="field">
          <tr>
	  <td bgcolor="#FFFFCC"><b>商品名</b></td>
          <td colspan=1>
	    <%= image_tag("lbl_S_Zen.gif") %>
	    <input name="searchCmdtyName" style="ime-mode:active">&nbsp;&nbsp;<font color="blue">部分一致</font>
	  </td>
          </tr>
        </div>
	<div class="field">
	  <tr>
          <td bgcolor="#FFFFCC"><b>在庫数量</b></td>
          <td colspan=1><input name="searchCmdtyStockCount1" style="ime-mode:active" size="4">&nbsp;～
	    <%= image_tag("lbl_S_HanSuuji.gif") %>
			<input name="searchCmdtyStockCount2" style="ime-mode:active" size="4"></td>
          </tr>
        </div>
        <div class="field">
          <tr>
          <td style="border:0px">&nbsp;</td>
          <td style="border:0px">&nbsp;</td>
          <td colspan=2 style="border:0px">&nbsp;&nbsp;
	  </td>
          </tr>
        </div>
      </tbody>
    </table>
  </td>
  <td style="border:0px">
    <table style="width:340px;height:100px">
      <tbody>
        <th bgcolor="#800000"><font color="#ffffff"><%= t('検索項目') %></font></th>
	<th colspan=2 bgcolor="#800000"><font color="#ffffff"><%= t('検索条件') %></font></th>
        <div class="field">
          <tr>
          <td bgcolor="#FFFFCC"><b>おすすめ商品</b></td>
	  <td>
	    <%= image_tag("lbl_S_Tanitu.gif") %>
	    <input type=radio name="searchAdvice" value="0" checked>全件表示
	    <input type=radio name="searchAdvice" value="1">通常
            <input type=radio name="searchAdvice" value="2">おすすめ
	  </td>
          </tr>
	</div>
        <div class="field">
          <tr>
          <td bgcolor="#FFFFCC"><b>会員割引</b></td>
          <td>
	    <%= image_tag("lbl_S_Tanitu.gif") %>
	    <input type=radio name="searchMemberDiscount" value="0" checked>全件表示
	    <input type=radio name="searchMemberDiscount" value="1">しない
	    <input type=radio name="searchMemberDiscount" value="2">する
	  </td>
          </tr>
        </div>
        <div class="field">
          <tr>
          <td bgcolor="#FFFFCC"><b>予約販売</b></td>
          <td>
	    <%= image_tag("lbl_S_Tanitu.gif") %>
	    <input type=radio name="searchRsrvEnable" value="0" checked>全件表示
	    <input type=radio name="searchRsrvEnable" value="1">しない
	    <input type=radio name="searchRsrvEnable" value="2">する
	  </td>
          </tr>
        </div>
        <div class="field">
          <tr>
          <td bgcolor="#FFFFCC"><b>在庫無し販売</b></td>
          <td>
	    <%= image_tag("lbl_S_Tanitu.gif") %>
	    <input type=radio name="searchNoStock" value="0" checked>全件表示
            <input type=radio name="searchNoStock" value="1">しない
            <input type=radio name="searchNoStock" value="2">する
	  </td>
          </tr>
        </div>
      </tbody>
    </table>
  <td style="border:0px">
    <table style="width:100;height:100px">
      <tbody>
        <div class="field" style="border:0px">
          <tr style="border:0px">
          <td style="border:0px">&nbsp;</td>
          </tr>
        </div>
        <div class="field">
          <tr style="border:0px">
	  <td style="border:0px">
	    <%= link_to image_tag("mallmgr/btn_L_Serch.gif"), "http://../comdty/index.html" %>
	  </td>
          </tr>
        </div>
        <div class="field">
          <tr style="border:0px">
          <td style="border:0px">
            <%= link_to image_tag("mallmgr/btn_L_AddNewCmdty.gif"), "http://../comdty/index.html" %>
          </td>
          </tr>
        </div>
        <div class="field">
          <tr style="border:0px">
          <td style="border:0px">
            <%= link_to image_tag("mallmgr/btn_L_OutputCsv.gif"), "http://../comdty/index.html" %>
          </td>
          </tr>
        </div>
      </tbody>
    </table>
  </td>
  </tr>
  </tbody>
</table>

<table>
  <tr>
    <th>Shopcode</th>
    <th><%= t('Cmdtycode') %></th>
    <th>Jancode</th>
    <th>Cmdtyname</th>
    <th>Description</th>
    <th>Stockcode</th>
    <th>Stockunitprice</th>
    <th>Unitprice</th>
    <th>Salesunitprice</th>
    <th>Taxflg</th>
    <th>Adviceflg</th>
    <th>Bannerfile</th>
    <th>Bannerurl</th>
    <th>Memberdiscountflg</th>
    <th>Srchkeyname1</th>
    <th>Srchkeyname2</th>
    <th>Srchkeyname3</th>
    <th>Cmdtysize</th>
    <th>Sellfromdate</th>
    <th>Endsellflg</th>
    <th>Selltodate</th>
    <th>Salesfromdate</th>
    <th>Salestodate</th>
    <th>Rsrvenableflg</th>
    <th>Nostockflg</th>
    <th>Amount</th>
    <th>Stockstatuscode</th>
    <th>Wrappingflg</th>
    <th>Deliverytypecode</th>
    <th>Amountflg</th>
    <th>Rsrvamount</th>
    <th>Ranking</th>
    <th>Rankingdatetime</th>
    <th>Initdatetime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comdties.each do |comdty| %>
  <tr>
    <td><%= comdty.shopcode %></td>
    <td><%= comdty.cmdtycode %></td>
    <td><%= comdty.jancode %></td>
    <td><%= comdty.cmdtyname %></td>
    <td><%= comdty.description %></td>
    <td><%= comdty.stockcode %></td>
    <td><%= comdty.stockunitprice %></td>
    <td><%= comdty.unitprice %></td>
    <td><%= comdty.salesunitprice %></td>
    <td><%= comdty.taxflg %></td>
    <td><%= comdty.adviceflg %></td>
    <td><%= comdty.bannerfile %></td>
    <td><%= comdty.bannerurl %></td>
    <td><%= comdty.memberdiscountflg %></td>
    <td><%= comdty.srchkeyname1 %></td>
    <td><%= comdty.srchkeyname2 %></td>
    <td><%= comdty.srchkeyname3 %></td>
    <td><%= comdty.cmdtysize %></td>
    <td><%= comdty.sellfromdate %></td>
    <td><%= comdty.endsellflg %></td>
    <td><%= comdty.selltodate %></td>
    <td><%= comdty.salesfromdate %></td>
    <td><%= comdty.salestodate %></td>
    <td><%= comdty.rsrvenableflg %></td>
    <td><%= comdty.nostockflg %></td>
    <td><%= comdty.amount %></td>
    <td><%= comdty.stockstatuscode %></td>
    <td><%= comdty.wrappingflg %></td>
    <td><%= comdty.deliverytypecode %></td>
    <td><%= comdty.amountflg %></td>
    <td><%= comdty.rsrvamount %></td>
    <td><%= comdty.ranking %></td>
    <td><%= comdty.rankingdatetime %></td>
    <td><%= comdty.initdatetime %></td>
    <td><%= link_to 'Show', comdty %></td>
    <td><%= link_to 'Edit', edit_comdty_path(comdty) %></td>
    <td><%= link_to 'Destroy', comdty, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @comdties, :prev_label=>'«前', :next_label=>'次»' %> 

<br />

<%= link_to 'New Comdty', new_comdty_path %>
