<style type="text/css">
table {
margin-bottom: 20px;
border-collapse: collapse;
}
td, th {
border: 1px #2b2b2b solid;
}
</style>

<td><font color="#F6633" size=4 ><b>商品マスタ</b></font></td><br>
<table>
  <tbody>
  <td colspan=2 align="center" style="border:0px"><font size=3><b>商品検索</b></font></td>
  <tr style="border:0px">
  <td style="border:0px">
  <form method="POST" action="comdties" name="searchform">
    <table style="width:320px;height:100px">
      <tbody>
        <th bgcolor="#800000"><font color="#ffffff"><%= t('検索項目') %></font></th>
	<th colspan=1 bgcolor="#800000"><font color="#ffffff"><%= t('検索条件') %></font></th>
	<div class="field">
	  <tr>
          <td bgcolor="#FFFFCC"><b>商品コード</b></td>
          <td colspan=1 style="border-top:1px #2b2b2b solid; border-bottom:1px #2b2b2b">
            <%= image_tag("lbl_S_HanSuuji.gif") %>
	    <input name="searchCmdtyCode" style="ime-mode:disabled" value=<%= $paramsSearchCmdtyCode.to_s %>>&nbsp;&nbsp;<font color="blue">部分一致</font>
	  </td>
	  </tr>
        </div>
        <div class="field">
          <tr>
	  <td bgcolor="#FFFFCC"><b>商品名</b></td>
          <td colspan=1>
	    <%= image_tag("lbl_S_Zen.gif") %>
	    <input name="searchCmdtyName" style="ime-mode:active" value=<%= $paramsSearchCmdtyName.to_s %>>&nbsp;&nbsp;<font color="blue">部分一致</font>
	  </td>
          </tr>
        </div>
	<div class="field">
	  <tr>
          <td bgcolor="#FFFFCC"><b>在庫数量</b></td>
          <td colspan=1>
	    <%= image_tag("lbl_S_HanSuuji.gif") %>
	    <input name="searchCmdtyStockCount1" style="ime-mode:disabled" size="4" value=<%= $paramsSearchCmdtyStockCount1.to_s %>>&nbsp;～
	    <input name="searchCmdtyStockCount2" style="ime-mode:disabled" size="4" value=<%= $paramsSearchCmdtyStockCount2.to_s %>>
	  </td>
          </tr>
        </div>
        <div class="field">
          <tr>
          <td style="border:0px">&nbsp;</td>
          <td style="border:0px">&nbsp;</td>
          <td colspan=2 style="border:0px">&nbsp;&nbsp;
	  </td>
          </tr>
        </div>
      </tbody>
    </table>
  </td>
  <td style="border:0px">
    <table style="width:340px;height:100px">
      <tbody>
        <th bgcolor="#800000"><font color="#ffffff"><%= t('検索項目') %></font></th>
	<th colspan=2 bgcolor="#800000"><font color="#ffffff"><%= t('検索条件') %></font></th>
        <div class="field">
          <tr>
          <td bgcolor="#FFFFCC"><b>おすすめ商品</b></td>
	  <td>
	    <%= image_tag("lbl_S_Tanitu.gif") %>
	    <input type=radio name="searchAdvice" value="-1" <%= $paramsSearchAdvice == '-1' ? "checked" : "" %>>全件表示
	    <input type=radio name="searchAdvice" value="0" <%= $paramsSearchAdvice == '0' ? "checked" : "" %>>通常
            <input type=radio name="searchAdvice" value="1" <%= $paramsSearchAdvice == '1' ? "checked" : "" %>>おすすめ
	  </td>
          </tr>
	</div>
        <div class="field">
          <tr>
          <td bgcolor="#FFFFCC"><b>会員割引</b></td>
          <td>
	    <%= image_tag("lbl_S_Tanitu.gif") %>
	    <input type=radio name="searchMemberDiscount" value="-1" <%= $paramsSearchMemberDiscount == '-1' ? "checked" : "" %>>全件表示
	    <input type=radio name="searchMemberDiscount" value="0" <%= $paramsSearchMemberDiscount == '0' ? "checked" : "" %>>しない
	    <input type=radio name="searchMemberDiscount" value="1" <%= $paramsSearchMemberDiscount == '1' ? "checked" : "" %>>する
	  </td>
          </tr>
        </div>
        <div class="field">
          <tr>
          <td bgcolor="#FFFFCC"><b>予約販売</b></td>
          <td>
	    <%= image_tag("lbl_S_Tanitu.gif") %>
	    <input type=radio name="searchRsrvEnable" value="-1" <%= $paramsSearchRsrvEnable == '-1' ? "checked" : "" %>>全件表示
	    <input type=radio name="searchRsrvEnable" value="0" <%= $paramsSearchRsrvEnable == '0' ? "checked" : "" %>>しない
	    <input type=radio name="searchRsrvEnable" value="1" <%= $paramsSearchRsrvEnable == '1' ? "checked" : "" %>>する
	  </td>
          </tr>
        </div>
        <div class="field">
          <tr>
          <td bgcolor="#FFFFCC"><b>在庫無し販売</b></td>
          <td>
	    <%= image_tag("lbl_S_Tanitu.gif") %>
	    <input type=radio name="searchNoStock" value="-1" <%= $paramsSearchNoStock == '-1' ? "checked" : "" %>>全件表示
	    <input type=radio name="searchNoStock" value="0" <%= $paramsSearchNoStock == '0' ? "checked" : "" %>>しない
	    <input type=radio name="searchNoStock" value="1" <%= $paramsSearchNoStock == '1' ? "checked" : "" %>>する
	  </td>
          </tr>
        </div>
      </tbody>
    </table>
  <td style="border:0px">
    <table style="width:100;height:100px">
      <tbody>
        <div class="field" style="border:0px">
          <tr style="border:0px">
          <td style="border:0px">&nbsp;</td>
          </tr>
        </div>
        <div class="field">
          <tr style="border:0px">
	  <td style="border:0px">
	    <input id="serch" name="serch_image", type="image", src="/images/mallmgr/btn_L_Serch.gif" value="serch" >
	  </td>
          </tr>
        </div>
        <div class="field">
          <tr style="border:0px">
          <td style="border:0px">
	    <a href=<%= new_comdty_path%>?copy=0&cmdtycode=0><%= image_tag("mallmgr/btn_L_AddNewCmdty.gif") %></a>
          </td>
          </tr>
        </div>
        <div class="field">
          <tr style="border:0px">
          <td style="border:0px">
	    <input id="outputcsv" name="outputcsv_image", type="image", src="/images/mallmgr/btn_L_OutputCsv.gif" value="outputcsv" >
          </td>
          </tr>
        </div>
      </tbody>
    </table>
  </td>
  </tr>
  </tbody>
</table>
</form>

<form method="POST" action="comdties" name="indexform">
<table width=90%>
  <tr style="border:0px">
    <td style="border:0px">
      <input id="allselect" name="allsel_image", type="image", src="/images/mallmgr/btn_SS_AllSelect.gif" value="allselect" >
    </td>
    <td style="border:0px">
      <input id="allrelease" name="allrel_image", type="image", src="/images/mallmgr/btn_SS_NoSelect.gif" value="allrelease" >
    </td>
    <td style="border:0px">
      <%= will_paginate @comdties, :prev_label=>'«前', :next_label=>'次»' %>
    </td>
  </tr>
  <tr style="color:white; background-color:#800000">
    <td>&nbsp;</td>
    <th><%= t('CmdtyCode') %></th>
    <th><%= t('Cmdtyname') %></th>
    <th><%= t('Unitprice') %></th>
    <th><%= t('Amount') %></th>
    <th><%= t('Adviceflg') %></th>
    <th><%= t('Memberdiscountflg') %></th>
    <th><%= t('RsrvEnableFlg') %></th>
    <th><%= t('Nostockflg') %></th>
    <th>カテ</th>
    <th>規格</th>
    <th>関連</th>
    <th>コピー</th>
  </tr>
    <% @comdties.each do |comdty| %>
  <tr>
    <td>
      <%= check_box_tag "checked_items[#{comdty.id}][flag]", "0", checked=$checked %>
    </td>
    <td>
      <a href=<%= edit_comdty_path(comdty)%>?copy=0&cmdtycode=0&idcmd=<%= comdty.id %>><%= comdty.cmdtycode %></a>
    </td>
    <td><%= comdty.cmdtyname %></td>
    <td align="right"><%= comdty.unitprice %></td>
    <td align="right"><%= comdty.amount %></td>
    <td align="center">
      <% if comdty.adviceflg == 1 %>
        ○
      <% end %>
    </td>
    <td align="center">
      <% if comdty.memberdiscountflg == 1 %>
        ○
      <% end %>
    </td>
    <td align="center">
      <% if comdty.rsrvenableflg == 1 %>
        ○
      <% end %>
    </td>
    <td align="center">
      <% if comdty.nostockflg == 1 %>
	○
      <% end %>
    </td>
    <td align="center">
      <a href=<%= edit_cmctgry_path(comdty)%>?cmdtycode=<%= comdty.cmdtycode %>&idcmd=<%= comdty.id %>><%= @aryctg.first != nil ? image_tag("mallmgr/btn_SS_Exist.gif") : image_tag("mallmgr/btn_SS_Nothing.gif") %></a>
    </td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">
      <a href=<%= edit_comdty_path(comdty)%>?copy=1&cmdtycode=<%= comdty.cmdtycode %>&idcmd=<%= comdty.id %>><%= image_tag("mallmgr/btn_S_Copy.gif") %></a>
</td>
  </tr>
    <% @aryctg.shift %>
  <% end %>
  <tr style="border:0px">
    <td style="border:0px">
      <input id="allselect" name="allsel_image", type="image", src="/images/mallmgr/btn_SS_AllSelect.gif" value="allselect" >
    </td>
    <td style="border:0px">
      <input id="allrelease" name="allrel_image", type="image", src="/images/mallmgr/btn_SS_NoSelect.gif" value="allrelease" >
    </td>
    <td style="border:0px">
    </td>
    <td style="border:0px">
    </td>
    <td style="border:0px">
    </td>
    <td style="border:0px">
    </td>
    <td style="border:0px">
    </td>
    <td style="border:0px">
    </td>
    <td style="border:0px">
    </td>
    <td colspan=4 align="center" style="border:0px">
      <input id="destroy_submit" name="del_image", type="image", src="/images/mallmgr/btn_L_Delete.gif" value="削除" %>
    </td>
  </tr>
</table>
</form>
</tbody>
</table>
<br />
