<p id="notice"><%= notice %></p>

<p>
  <b>Shopcode:</b>
  <%= @comdty.shopcode %>
</p>

<p>
  <b>Cmdtycode:</b>
  <%= @comdty.cmdtycode %>
</p>

<p>
  <b>Jancode:</b>
  <%= @comdty.jancode %>
</p>

<p>
  <b>Cmdtyname:</b>
  <%= @comdty.cmdtyname %>
</p>

<p>
  <b>Description:</b>
  <%= @comdty.description %>
</p>

<p>
  <b>Stockcode:</b>
  <%= @comdty.stockcode %>
</p>

<p>
  <b>Stockunitprice:</b>
  <%= @comdty.stockunitprice %>
</p>

<p>
  <b>Unitprice:</b>
  <%= @comdty.unitprice %>
</p>

<p>
  <b>Salesunitprice:</b>
  <%= @comdty.salesunitprice %>
</p>

<p>
  <b>Taxflg:</b>
  <%= @comdty.taxflg %>
</p>

<p>
  <b>Adviceflg:</b>
  <%= @comdty.adviceflg %>
</p>

<p>
  <b>Bannerfile:</b>
  <%= @comdty.bannerfile %>
</p>

<p>
  <b>Bannerurl:</b>
  <%= @comdty.bannerurl %>
</p>

<p>
  <b>Memberdiscountflg:</b>
  <%= @comdty.memberdiscountflg %>
</p>

<p>
  <b>Srchkeyname1:</b>
  <%= @comdty.srchkeyname1 %>
</p>

<p>
  <b>Srchkeyname2:</b>
  <%= @comdty.srchkeyname2 %>
</p>

<p>
  <b>Srchkeyname3:</b>
  <%= @comdty.srchkeyname3 %>
</p>

<p>
  <b>Cmdtysize:</b>
  <%= @comdty.cmdtysize %>
</p>

<p>
  <b>Sellfromdate:</b>
  <%= @comdty.sellfromdate %>
</p>

<p>
  <b>Endsellflg:</b>
  <%= @comdty.endsellflg %>
</p>

<p>
  <b>Selltodate:</b>
  <%= @comdty.selltodate %>
</p>

<p>
  <b>Salesfromdate:</b>
  <%= @comdty.salesfromdate %>
</p>

<p>
  <b>Salestodate:</b>
  <%= @comdty.salestodate %>
</p>

<p>
  <b>Rsrvenableflg:</b>
  <%= @comdty.rsrvenableflg %>
</p>

<p>
  <b>Nostockflg:</b>
  <%= @comdty.nostockflg %>
</p>

<p>
  <b>Amount:</b>
  <%= @comdty.amount %>
</p>

<p>
  <b>Stockstatuscode:</b>
  <%= @comdty.stockstatuscode %>
</p>

<p>
  <b>Wrappingflg:</b>
  <%= @comdty.wrappingflg %>
</p>

<p>
  <b>Deliverytypecode:</b>
  <%= @comdty.deliverytypecode %>
</p>

<p>
  <b>Amountflg:</b>
  <%= @comdty.amountflg %>
</p>

<p>
  <b>Rsrvamount:</b>
  <%= @comdty.rsrvamount %>
</p>

<p>
  <b>Ranking:</b>
  <%= @comdty.ranking %>
</p>

<p>
  <b>Rankingdatetime:</b>
  <%= @comdty.rankingdatetime %>
</p>

<p>
  <b>Initdatetime:</b>
  <%= @comdty.initdatetime %>
</p>


<%= link_to 'Edit', edit_comdty_path(@comdty) %> |
<%= link_to 'Back', comdties_path %>
