<p id="notice"><%= notice %></p>

<p>
  <b>Custcompanyflg:</b>
  <%= @order.custcompanyflg %>
</p>

<p>
  <b>Custname:</b>
  <%= @order.custname %>
</p>

<p>
  <b>Custpronname:</b>
  <%= @order.custpronname %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Orderaddressee:</b>
  <%= @order.orderaddressee %>
</p>

<p>
  <b>Postcode1:</b>
  <%= @order.postcode1 %>
</p>

<p>
  <b>Postcode2:</b>
  <%= @order.postcode2 %>
</p>

<p>
  <b>Address2:</b>
  <%= @order.address2 %>
</p>

<p>
  <b>Address3:</b>
  <%= @order.address3 %>
</p>

<p>
  <b>Companyname:</b>
  <%= @order.companyname %>
</p>

<p>
  <b>Tel:</b>
  <%= @order.tel %>
</p>

<p>
  <b>Fax:</b>
  <%= @order.fax %>
</p>

<p>
  <b>Paymethodname:</b>
  <%= @order.paymethodname %>
</p>

<p>
  <b>Initdatetime:</b>
  <%= @order.initdatetime %>
</p>

<p>
  <b>Updatedatetime:</b>
  <%= @order.updatedatetime %>
</p>

<p>
  <b>Paymentflg:</b>
  <%= @order.paymentflg %>
</p>

<p>
  <b>Fee:</b>
  <%= @order.fee %>
</p>

<p>
  <b>Receiptdate:</b>
  <%= @order.receiptdate %>
</p>

<p>
  <b>Sendmailflg:</b>
  <%= @order.sendmailflg %>
</p>

<p>
  <b>Address1:</b>
  <%= @order.address1 %>
</p>

<p>
  <b>Sumofdiscount:</b>
  <%= @order.sumofdiscount %>
</p>

<p>
  <b>Sumbypoint:</b>
  <%= @order.sumbypoint %>
</p>

<p>
  <b>Contactmsg:</b>
  <%= @order.contactmsg %>
</p>

<p>
  <b>Memo:</b>
  <%= @order.memo %>
</p>

<p>
  <b>Taxrate:</b>
  <%= @order.taxrate %>
</p>

<p>
  <b>Status:</b>
  <%= @order.status %>
</p>

<p>
  <b>Feetaxflg:</b>
  <%= @order.feetaxflg %>
</p>

<p>
  <b>Custid:</b>
  <%= @order.custid %>
</p>

<p>
  <b>Receiptmailflg:</b>
  <%= @order.receiptmailflg %>
</p>

<p>
  <b>Pointenableflg:</b>
  <%= @order.pointenableflg %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
