<p id="notice"><%= notice %></p>

<p>
  <b>Custcompanyflg:</b>
  <%= @custaddress.custcompanyflg %>
</p>

<p>
  <b>Deliveryname:</b>
  <%= @custaddress.deliveryname %>
</p>

<p>
  <b>Deliveryaddressee:</b>
  <%= @custaddress.deliveryaddressee %>
</p>

<p>
  <b>Email:</b>
  <%= @custaddress.email %>
</p>

<p>
  <b>Postcode1:</b>
  <%= @custaddress.postcode1 %>
</p>

<p>
  <b>Postcode2:</b>
  <%= @custaddress.postcode2 %>
</p>

<p>
  <b>Address1:</b>
  <%= @custaddress.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @custaddress.address2 %>
</p>

<p>
  <b>Address3:</b>
  <%= @custaddress.address3 %>
</p>

<p>
  <b>Companyname:</b>
  <%= @custaddress.companyname %>
</p>

<p>
  <b>Fax:</b>
  <%= @custaddress.fax %>
</p>

<p>
  <b>Sendmailflg:</b>
  <%= @custaddress.sendmailflg %>
</p>

<p>
  <b>Daysbeforehand:</b>
  <%= @custaddress.daysbeforehand %>
</p>

<p>
  <b>Mailmonth:</b>
  <%= @custaddress.mailmonth %>
</p>

<p>
  <b>Mailday:</b>
  <%= @custaddress.mailday %>
</p>

<p>
  <b>Lastdeliverydate:</b>
  <%= @custaddress.lastdeliverydate %>
</p>

<p>
  <b>Custid:</b>
  <%= @custaddress.custid %>
</p>


<%= link_to 'Edit', edit_custaddress_path(@custaddress) %> |
<%= link_to 'Back', custaddresses_path %>
