<!DOCTYPE html>
<html>
<head>
  <title>Shopping</title>
  <%= stylesheet_link_tag 'comdties' ,:media=>'screen' %>
  <%= stylesheet_link_tag 'base' ,:media=>'screen' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% if flash[:notice] %>
    <% if $saveSuccess == 0 %>
      <p style="color:red"><%= flash[:notice] %></p>
    <% else %>
      <p style="color:green"><%= flash[:notice] %></p>
    <% end %>
  <% end %>
<section>
<%= yield %>
</section>
</body>
</html>
