<!DOCTYPE html>
<html>
<head>
  <title>Shopping</title>
  <%= stylesheet_link_tag 'mallshopms' ,:media=>'screen' %>
  <%= stylesheet_link_tag 'base' ,:media=>'screen' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body<%= " onload='#{@onload}'"%>>
<%= render 'common/header' %>
<section>
<%= yield %>
</section>
<%=render 'footer' %>
</body>
</html>

